@model QuizComputation_490_Model.CustomModels.NewRegistration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post" id="signup" enctype="multipart/form-data">
        <div class="d-flex justify-content-center mb-5">
            <input name="profile" type="file" id="edit-image" class="d-none" />
            @{
                if (Model.profile == null)
                {
                    <label name="profile-photo" for="edit-image" id="image-holder" class="rounded-circle border border-black img-fluid" style="background-repeat: no-repeat; cursor: pointer; background-image: url(https://freesvg.org/img/abstract-user-flat-4.png); height: 150px; width: 150px; background-size:cover"></label>
                }
                else
                {
                    <label name="profile-photo" for="edit-image" id="image-holder" class="rounded-circle border border-black img-fluid" style="background-repeat: no-repeat; cursor: pointer; background-image: url('data:image;base64,@Model.profile'); height: 150px; width: 150px; background-size:cover"></label>
                }
            }
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Username, "Username")
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Email, "Email")
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Password, "Password")
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
        @{
            if (Model.Userrole == "User")
            {
                <div class="border p-5">
                    <h3 class="mb-5">Your Documents:</h3>
                    <div class="row justify-content-between">
                        <div class="border d-flex flex-column p-3 col-3">
                            <p class="fw-bold">Aadhar Card:</p>
                            <div>
                                <input type="file" name="aadhar_card" />
                                <button type="button" class="btn btn-danger btn-sm erase-btn">clear</button>
                                @{
                                    if (Model.aadharCard != null)
                                    {
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aadharModal">View</button>
                                    }
                                }
                            </div>
                        </div>
                        <div class="border d-flex flex-column p-3 col-3">
                            <p class="fw-bold">12th Marksheet:</p>
                            <div>
                                <input type="file" name="12Marksheet" />
                                <button type="button" class="btn btn-danger btn-sm erase-btn">clear</button>
                                @{
                                    if (Model.Marksheet12 != null)
                                    {
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#marksheet12Modal">View</button>
                                    }
                                }
                            </div>
                        </div>
                        <div class="border d-flex flex-column p-3 col-3">
                            <p class="fw-bold">10th Marksheet:</p>
                            <div>
                                <input type="file" name="10Marksheet" />
                                <button type="button" class="btn btn-danger btn-sm erase-btn">clear</button>
                                @{
                                    if (Model.Marksheet10 != null)
                                    {
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#marksheet10Modal">View</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="aadharModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Aadhar Card</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <embed type="application/pdf" src="data:application/pdf;base64,@Model.aadharCard" style="width: 100%; height: 600px; " />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger delete-doc" doc="delete_aadhar_card">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="marksheet12Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">12 Marksheet</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="data:image;base64,@Model.Marksheet12" style="width: 100%; height: 600px; " />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger delete-doc" doc="delete_Marksheet12">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="marksheet10Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">10 Marksheet</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="data:image;base64,@Model.Marksheet10" style=" width: 100%; height: 600px;" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger delete-doc" doc="delete_Marksheet10">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="d-flex justify-content-center my-3 gap-2">
            <button type="submit" class="btn btn-success">Save</button>
            @Html.ActionLink("Cancel", "ShowProfile", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>


<script>
    function displayImage(event) {
        debugger
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                let element = $('#image-holder');
                element.css("background-image", `url(${e.target.result})`);
            }

            reader.readAsDataURL(file)
        }
    }

    document.getElementById('edit-image').addEventListener('change', displayImage);

    $('.erase-btn').on('click', function () {
        let file = this.previousElementSibling;
        $(file).val("");
    })

    $('.delete-doc').on('click', function () {
        if ($(this).text() == "Undo Delete") {
            $(this).text("Delete");
            $(this).removeClass('btn-warning')
            $(this).addClass('btn-danger')
            let input = this.nextElementSibling;
            $(input).remove();
        }
        else {
            $(this).text("Undo Delete");
            $(this).addClass('btn-warning')
            $(this).removeClass('btn-danger')
            let input = $('<input>');
            $(input).attr('name', $(this).attr('doc'))
            $(input).addClass('d-none')
            $(this).after(input);
            $(input).val(true);
        }

    })
</script>