@model List<QuizComputation_490_Model.CustomModels.QuizModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="d-flex justify-content-end">
    @Html.ActionLink("Create Quiz", "CreateQuiz", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
    <tr>
        <th class="text-nowrap">
            Sr No.
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Action
        </th>
    </tr>

    @{ int counter = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(counter++)
            </td>
            <td>
                @item.QuizTitle
            </td>
            <td>
                @item.QuizDescription
            </td>
            <td>
                <div class="d-flex flex-nowrap gap-2">
                    @Html.ActionLink("Edit", "EditQuiz", "Admin", new { @quizID = item.QuizID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "DeleteQuiz", "Admin", new { @quizID = item.QuizID }, new { @class = "btn btn-danger btn-sm" })
                </div>
            </td>
        </tr>
    }

</table>
