@model QuizComputation_490_Model.CustomModels.NewRegistration 

@{ Layout = "~/Views/Shared/_LoginLayout.cshtml"; }


<script>
    
</script>

<div>
    <form method="post" id="signup">
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Username, "Username")
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Email, "Email")
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Password, "Password")
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.Confirm_password, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Confirm_password, "Confirm Password")
            @Html.ValidationMessageFor(m => m.Confirm_password, null, new { @class = "text-danger" })
        </div>       

        <div class="d-flex justify-content-center my-3 ">
            <button type="submit" class="btn btn-success">SignUp</button>
        </div>
    </form>

    <div class="d-flex justify-content-center">
        <span>Already have an account ? &nbsp;</span>
        @Html.ActionLink("Sign In", "SignIn", "Login", null, new { @class = "text-success text-decoration-none" })
    </div>
</div>